* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
     font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-family: Roboto, Arial, sans-serif;
}

header a {
    margin: auto 10px;
}


.profile-img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-left: 10px;
}

main {
    text-align: center;
    margin-top: 100px;
}

main h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 5.4rem;
    letter-spacing: -.2rem;
}

main h1 span {
    position: relative;
}

main h1 span:nth-child(1) {
    animation: slideLetter .5s ease-out 3s 1;
}

main h1 span:nth-child(2) {
    animation: slideLetter .5s ease-out 2.5s 1;
}

main h1 span:nth-child(3) {
    animation: slideLetter .5s ease-out 2s 1;
}

main h1 span:nth-child(4) {
    animation: slideLetter .5s ease-out 1.5s 1;
}

main h1 span:nth-child(5) {
    animation: slideLetter .5s ease-out 1s 1;
}

main h1 span:nth-child(6) {
    animation: slideLetter .5s ease-out .5s 1;
}

main h1 span:nth-child(1),
main h1 span:nth-child(4)
{
    color: #4285f4;
}

main h1 span:nth-child(2),
main h1 span:nth-child(6)
 {
    color: #db4437;
}

main h1 span:nth-child(3)
 {
    color: #f4b400;
}

main h1 span:nth-child(5)
 {
    color: #0f9d58;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 550px;
    margin: auto;
    margin-top: 40px;
    border: none;
    border-radius: 22px;
    background-color: #f3f3f3;
    padding: 10px 20px;
}

.form input {
    background: transparent;
    border: none;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
    margin: 0 20px;
    color: #494958;

}

#competencies-list {
    display: flex;
    width: 90%;
    max-width: 550px;
    margin: 30px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

#competencies-list .item {
    width: 130px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#competencies-list .item .name {
    margin-top: .8rem;
}

#competencies-list .item .icon {
    height: 35px;
    width: 35px;
    line-height: 35px;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination span {
    cursor: pointer;
    padding: .2rem .4rem;
    margin: 0 .2rem;
}

#pagination span.active {
    cursor: not-allowed;
    opacity: .5;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    font-style: italic;
    color: #999;
    position: relative;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
}

/* 
Ajuste para desktop
*/
@media only screen and (max-width: 800px) {
    #competencies-list {
        justify-content: center;
    }
}

@keyframes slideLetter {
    0% {
        left: 1rem;
        transform: scale(1);
    }

    80% {
        transform: scale(3);
    }

    100% {
        left: 0;
        transform: scale(1);
    }
}